# dependencies
node_modules


# opennext
.open-next

# misc
.DS_Store

# local env files
.env*.local

tmp
bootstrap
lambda-handler.zip

*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
