<html>
<head>
    {{template "components/header" .}}
    <script>

        // htmx.logAll();
        function createIcon(icon) {
            return `<div class="ml-2 absolute">${icon}</div>`
        }

        function updateTitleIcon(icon) {
            document.querySelector("#title > div").innerHTML = icon
        }

        htmx.on("query_evaluated", function (evt) {
            console.log("query_evaluated", evt.detail)
            const success = evt.detail.is_successful
            const icon = createIcon(success ? "✅" : "❌")
            document.querySelector("#result_header > div > div").innerHTML = icon
            if (success) {
                updateTitleIcon(icon)
                localStorage.setItem(evt.detail.id + ".complete", "true");
            }
            console.log("YEAAH")

        })
    </script>
</head>
<body class="bg-orange-50" hx-boost="true">
{{template "components/menu" }}
{{ if .DebugMode }}
    <div hx-ext="sse" sse-connect="/sse?version={{.ServerVersion}}" sse-swap="trigger_reload">&nbsp;</div>
{{end}}

{{define "small_title"}}
    <div class="flex justify-center font-semibold text-lg pt-3 pb-1 border border-orange-700 border-x-0 bg-orange-300">
        {{.}}
        <div></div>
    </div>
{{end}}


<div class="container mx-auto px-4">
    <div class="text-5xl font-bold flex" id="title">
        {{ .Title }}
        <div></div>
    </div>
    <script>
        if (localStorage.getItem("{{.ID}}.complete") === "true") updateTitleIcon(createIcon("✅"))
    </script>
    <div class="flex flex-row flex-wrap my-4 rounded border border-orange-700 border-t-0 bg-white">
        <aside class="w-full sm:w-1/2 border-orange-700 border-r-2 bg-stone-50">
            <div>
                {{template "small_title" "Task"}}
                <div class="h-24 p-2 text-lg italic">{{.Description}}</div>

                {{template "small_title" "Expected output"}}
                <div class="flex justify-center">
                    {{template "components/output_table" .Expected}}
                </div>
            </div>
        </aside>
        <main role="main" class="w-full sm:w-1/2">
            {{template "small_title" "Your query"}}
            <textarea class="w-full h-24 p-2 font-mono"
                      autofocus
                      name="query"
                      placeholder="Enter your query here..."
                      hx-get="/check/{{.ID}}"
                      hx-trigger="input changed delay:500ms"
                      hx-target="#results"
                      hx-indicator=".htmx-indicator">{{ if .DebugMode }}select * from employees{{end}}</textarea>
            <div id="result_header">
                {{template "small_title" "Your output"}}
            </div>
            {{/*            <div id="message"></div>*/}}
            <div id="result_icon"></div>
            <div id="results" class="flex justify-center min-h-12">

            </div>
        </main>
    </div>


</div>
<div class="flex justify-between px-4">
    {{template "components/basic_button" dict "Url" .Previous "Text" "Previous Exercise"}}
    {{template "components/basic_button" dict "Url" .Next "Text" "Next Exercise"}}
</div>

</body>
</html>