<html>
<head>
    <title>HTMX</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <script>
        // htmx.logAll();
        htmx.on("htmx:sseMessage", function(evt) {
            if (evt.detail.type == "trigger_reload") {
                console.log("RELOAD")
                window.location.reload();
            }
        });
    </script>
</head>
<style>
    * {
        outline: 1px solid red;
    }
</style>
<body class="bg-red-50">
<div hx-ext="sse" sse-connect="/sse?version={{.ServerVersion}}" sse-swap="trigger_reload"></div>
{{define "small_title"}}
    <div class="flex justify-center font-semibold text-lg pt-2 pb-1">{{.}}</div>
{{end}}


<div class="container mx-auto">
    <div class="flex flex-row flex-wrap my-4 bg-red-100">
        <aside class="w-full sm:w-1/2">
            <div>
                {{template "small_title" "Exercise"}}
                <div class="h-24 p-2">Select everything from employees table</div>

                {{template "small_title" "Expected output"}}
                <div class="flex justify-center">
                    {{template "views/output_table" .Expected}}
                </div>
            </div>
        </aside>
        <main role="main" class="w-full sm:w-1/2">
            {{template "small_title" "Answer"}}
            <textarea class="w-full h-24 p-2 font-mono	"
                      name="query"
                      hx-get="http://localhost:3000/check/select_all"
                      hx-trigger="load, input changed delay:500ms, search"
                      hx-target="#results"
                      hx-indicator=".htmx-indicator">
select * from employees            </textarea>

            {{template "small_title" "Results"}}
            <div id="results" class="flex justify-center">

            </div>
        </main>
    </div>
</div>

</body>
</html>
