<html>
<head>
    {{template "components/header" .}}
</head>
<body class="bg-orange-50" hx-boost="true">
{{template "components/menu" }}

<div class="container mx-auto px-4">
    <div class="flex flex-col justify-center items-center gap-4 h-3/4">
        <div class="text-5xl font-bold flex" id="title">
            Page not found
        </div>
        <div class="text-md font-bold flex">
            <a href="/">Go to home page</a>
        </div>
        <div class="text-2xl">
            ≽^•⩊•^≼
        </div>
    </div>
</div>

</body>
</html>
